django-dbbackup
djangorestframework
persiantools
python-dateutil
pandas
requests
django
django.utils
reportlab
arabic_reshaper
python-bidi
GuardPyCaptcha
ValidationError
decouple
python-dotenv
dj-database-url
